# Virtual Environments
.venv/
venv/
backend/.venv/
backend/venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

db.sqlite3
backend/db.sqlite3