django==5.2
djangorestframework
python-dotenv
djangorestframework-simplejwt
django-cors-headers
drf-spectacular
google-auth
requests
python-dateutil
django-filter
Pillow
pycountry
openpyxl
pandas
reportlab
# AI Agent (LangGraph + Gemini)
langgraph
langchain
langchain-google-genai
google-genai
langchain-community
groq==0.37.1
langchain-groq==1.1.3
tavily-python
